/* Sidebar Styles */
.sidebar {
  background-color: #ffffff; /* White background */
  color: #231f20; /* Black color for text */
}

.sidebar .nav-link {
  color: #231f20; /* Black color for text */
  padding: 0.75rem 1.25rem;
  transition: background-color 0.3s, color 0.3s;
  font-size: 14px !important;
}

.nav-link:hover {
  background-color: #ebebeb; /* Black background on hover/active */
  color: #7267ef; /* White color for text */
}

.nav-link.active {
  background-color: #ebebeb !important; /* Black background on hover/active */
  color: #7267ef; /* White color for text */
}

.nav-icon {
  font-size: 13px !important;
}
/* Responsive Styles */
@media (max-width: 992px) {
  .sidebar {
    position: relative;
    width: 100%;
    height: auto;
  }

  .sidebar .nav-link {
    padding: 0.5rem 1rem;
  }
}

/* Additional styles for collapsible menu */
.nav-link[data-bs-toggle="collapse"] {
  cursor: pointer;
}

.btn-toggle-nav {
  margin-top: 0.5rem;
}

.btn-toggle-nav .nav-link {
  padding-left: 2rem;
}
